body{
	/* --color1:aqua;
	--color0:rgb(179, 255, 0); */
	--color0: #ffcb00;
	--color1: #61e9ff;

	--color2: #ab61ff;
	
	--color3: #12ff0a;

	--color4: rgb(255, 123, 0);
	--color5: #ff61dd;
	--bg0: #000000dc;
	--bg1: #222222;
	--bg2: #383838;
	--bg3: #4d4d4d;
	
	margin: 0;
	padding: 0;
	overflow:hidden;
	max-height: 100vh;
}


div {
	user-select: none;
}

input{
	background-color: transparent;
	color:white;
}
input[type=number]{
	border: solid 1px rgb(97, 97, 97);
}
input[type=number]:focus{
	outline: solid 2px rgb(121, 121, 121);	
}

li {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

button{
	background-color:#2b2b2b;
	color:white;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	outline: #616161 1px solid;
}

button[disabled]{
	cursor:default;
	color: #616161;
}

button:hover:not([disabled]){
	background-color:#383838;
}
  
button:active:not([disabled]){
	outline: #61e9ff 2px solid;
}


  
