body{
	--color0: #ffcb00;
	--color1: #61e9ff;
	--color2: #ab61ff;
	--color3: #12ff0a;
	--color4: rgb(255, 123, 0);
	--color5: #ff61dd;
	--bg0: #111111dc;
	--bg1: #222222;
	--bg2: #383838;
	--bg3: #4d4d4d;
	--h0:#fffcce;
	margin: 0;
	padding: 0;
	overflow:hidden;
	max-height: 100vh;
}

* {
    scrollbar-color: #5a5a5a#83838342 ;
}
::-webkit-scrollbar {
    height: 12px;
    width: 18px;
    background: #61616142;
}

::-webkit-scrollbar-thumb {
    background: #96969633;
}

::-webkit-scrollbar-corner {
    background: #5a5a5a;
}



div {
	user-select: none;
}

input{
	background-color: transparent;
	color:white;
}
input[type=number]{
	border: solid 1px rgb(97, 97, 97);
	background-color: #1b1b1b;
	font-size: 0.9rem;
}
select{
	cursor: pointer;
	border-radius: 5px;
	border: solid 1px rgb(97, 97, 97);
	background-color: var(--bg0);
	color: white;
}
input[type=number]:focus{
	outline: solid 2px rgb(121, 121, 121);	
}

li {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}


button:not(.custom), .button{
	background-color:#2b2b2b;
	color:white;
	border: none;
	border-radius: 1px;
	cursor: pointer;
	outline: #616161 1px solid;
	padding-inline: 4px;
	padding-block: 2px !important;
	font-size: 0.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button[disabled]{
	cursor:default;
	color: #616161;
}

button:hover:not([disabled]), .button:hover{
	background-color:#383838;
}


  
button:active:not([disabled]), .button:active{
	outline: #5f5f5f 2px solid;
}

button.btn1{
	background-color:#1b1b1b;
}


input[type="range"] + *{
	width: 70px; text-align: center;
}

p{
	color: #b6b6b6; 
	text-align: center;
}

  
